footer.footer {
    background: var(--gray-900);
    color: var(--gray-200);
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.footer-grid h4 {
    font-weight: 600;
    font-size: 1.1rem;
}

.footer-grid ul {
    list-style: none;
}

.footer-grid li {
    margin: 0.5rem 0;
}

.footer-grid a {
    text-decoration: none;
    color: var(--gray-200);
    font-weight: 300;
    font-size: 1rem;
}

.footer-grid .logo {
    margin-bottom: 1.1rem;
}

.footer-grid .newsletter {
    background-color: var(--gray-200);
    color: var(--gray-700);
    border-radius: var(--border-radius);
    padding: 1.2rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.footer-grid .newsletter h4 {
    margin-bottom: 0.8rem;
}

.footer-grid .newsletter p {
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
    font-weight: 300;
}

.footer-grid .newsletter input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border: 1px solid var(--gray-400);
    border-radius: var(--border-radius);
    margin-bottom: 0.8rem;
}

.footer-grid .newsletter .btn {
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    color: var(--gray-100);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.footer-grid .social-icons {
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

@media (min-width: 670px) {
    .footer-grid {
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }
}
