.navbar {
    position: relative;
    background: var(--gray-300);
    overflow-x: clip;
}

.navbar .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu {
    position: absolute;
    list-style: none;
    right: -212px;
    top: 0;
    height: 100vh;
    padding: 0.75rem 1.5rem;
    background-color: var(--gray-900);
    z-index: 2;
    transition: right 350ms ease-in;
}

.navbar .open {
    right: 0;
}

.navbar li {
    margin: 2rem 0;
    padding: 0.50rem 1.5rem;
}

.navbar .menu a {
    color: var(--gray-200);
    font-size: 1.2rem;
    text-decoration: none;
}

.navbar .close-menu {
    color: var(--gray-200);
    font-size: 1.35rem;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar .menu-button {
    border: none;
    background: none;
    color: var(--black);
    font-size: 1.2rem;
    cursor: pointer;
}

@media(min-width: 960px) {
    .navbar .menu-button {
        display: none;
    }

    .navbar .menu {
        position: static;
        background: none;
        height: unset;
        padding: 0;
        display: flex;
        gap: 2rem;
    }

    .navbar .menu li {
        margin: 0;
        padding: 0;
    }

    .navbar .menu a {
        color: var(--grey-700);
        font-size: 1.1rem;
    }

    .navbar .menu li:last-child {
        display: none;
    }

    .navbar .sign-in {
        border: 0px solid var(--gray-700);
        padding: 0.4rem 1.2rem;
        background-color: var(--gray-400);
    }
}
