.hero {
    padding: 2.2rem 1.0rem 2.5rem;
    background-color: var(--white);
}

.hero .container {
    background: url("../images/hero-bg-mobile.png") no-repeat;
    background-position: bottom;
    background-size: 350px 400px;
    height: 770px;
}

.hero .heading {
    font-size: 2.0rem;
    color: var(--gray-600);
    text-align: center;
    margin-bottom: 1em;
}

.hero .subheading {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--gray-600);
    text-align: center;
    margin-bottom: 1em;
}

.hero .btn {
    font-size: 1.1rem;
    padding: 0.8em 1.6em;
    background-color: var(--gray-300);
    color: var(--gray-700);
    display: block;
    border-radius: var(--border-radius);
}

.hero .btn i {
    font-size: 1.8rem;
    margin-right: 0.3em;
    position: relative;
    top: 2px;
}

.hero .btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
    margin-bottom: 1em;
}

.hero a {
    text-decoration: none;
}
