.faq {
    background-color: var(--gray-200);
    color: var(--gray-700);
}

.faq .container-sm > .heading {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.0rem;
}

.faq-menu {
    list-style: none;
    max-width: 300px;
    margin: 0 auto 2.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 300;
}

.faq-menu li {
    display: inline-block;
    padding: 0.4rem 0.4rem;
    position: relative;
}

.faq-menu li.active {
    font-weight: 600;
}

.faq-menu li.active::after {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: var(--gray-700);
    position: absolute;
    top: calc(100% - 0.4rem);
    right: 0;
}

.faq-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.faq-card {
    border-bottom: 2px solid var(--gray-400);
    padding: 0 0.5rem 2rem;
}

.faq-card .heading {
    position: relative;
}

.faq-card .heading h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

.faq-card .heading .fas {
    position: absolute;
    top: 100%;
    right: 0;
}

.faq-card .fa-minus {
    display: none;
}

.faq-card .content {
    font-size: 1.1rem;
    font-weight: 400;
    display: none;
    padding-top: 1.2rem;
}

.faq-card.open .content {
    display: block;
}

.faq-card.open .fa-plus {
    display: none;
}

.faq-card.open .fa-minus {
    display: block;
}
