.video {
    background-color: var(--black);
    color: var(--gray-200);
}

.video .heading {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

.video .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.video .preview {
    margin-bottom: 1.5rem;
    width: calc(100vw - 4rem);
    max-width: 512px;
    display: block;
    margin: 0 auto;
}

.video .btn {
    text-decoration: none;
    padding: 0.7em 1.4em;
    background-color: var(--primary-color);
    font-weight: 600;
    color: var(--white);
    border-radius: var(--border-radius);
    margin: 0 auto;
}

@media (min-width: 500px) {
}

@media (min-width: 670px) {
    .video .heading {
        font-size: 1.6rem;
    }
}

@media (min-width: 960px) {
}
