.testimonials {
    background-color: var(--gray-700);
    color: var(--gray-100);
}

.testimonials .heading {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    max-width: 700px;
}

.testimonials .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.testimonials .card {
    padding: 0.3rem;
    max-width: 512px;
    margin: 0 auto;
}

.testimonials .card .content {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.testimonials .card .author {
    font-size: 1.0rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
}

.testimonials .card .company {
    font-size: 1.0rem;
    font-weight: 400;
}

@media (min-width: 500px) {
    .testimonials .heading {
        font-size: 1.4rem;
    }

    .testimonials .card .content {
        font-size: 1.2rem;
    }
}

@media (min-width: 670px) {
    .testimonials .heading {
        font-size: 1.6rem;
    }

    .testimonials .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 960px) {
    .testimonials .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
