.pricing {
    background-color: var(--white);
    color: var(--gray-600);
}

.pricing .container-sm > .heading {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.pricing .container-sm > .subheading {
    margin-bottom: 2rem;
    text-align: center;
}

.pricing .main-subheading,
.pricing .footer {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
    color: var(--gray-500);
}

.pricing .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

.pricing .card {
    padding: 2rem;
    border-radius: var(--border-radius);
    text-align: left;
    max-width: 380px;
    margin: 0 auto;
}

.pricing .pricing-simple {
    background-color: var(--gray-200);
}

.pricing .pricing-premium {
    background-color: var(--gray-800);
    color: var(--gray-100);
}

.pricing .card .heading {
    margin-bottom: 1.7rem;
    font-size: 2.0rem;
    font-weight: 600;
    text-align: left;
}

.pricing .card .subheading {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1.7rem;
}

.pricing .card .price {
    padding-bottom: 1.7rem;
    margin-bottom: 1.7rem;
    border-bottom: 2px solid var(--gray-500);
    font-size: 1.0rem;
    font-weight: 300;
}

.pricing .card .price > span {
    font-size: 2rem;
    font-weight: 600;
}

.pricing .card ul {
    list-style: none;
    margin-bottom: 1.9rem;
}

.pricing .card li {
    margin: 0.9rem 0;
}

.pricing .card .fa-check {
    margin-right: 0.4rem;
}

.pricing .card .btn {
    display: block;
    border: none;
    padding: 0.6rem 0;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    text-align: center;
}

@media (min-width: 800px) {
    .pricing .grid {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}
