/* Layouts: Mobile is 375px and Desktop is 1440px */

@font-face {
    font-family: "Roboto";
    src: local("Roboto Regular"), /* The browser will first look local before downloading */
	 url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"), /* The browser will first look local before downloading */
	 url("./assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

/* Custom Properties */

:root {
    /* Primary colors */
    --clr-primary-orange: hsl(4, 100%, 67%);

    /* Neutral colors */
    --clr-neutral-00: hsl(0, 0%, 100%);
    --clr-neutral-10: hsl(0, 0%, 95%);
    --clr-neutral-30: hsl(231, 7%, 80%);
    --clr-neutral-40: hsl(231, 7%, 60%);
    --clr-neutral-70: hsl(235, 18%, 26%);
    --clr-neutral-80: hsl(234, 29%, 20%);

    /* Font sizes
       - Always use rem for font sizes. Pixels can have problem with different dpi screens
       - Base is 16px. To calculate the size divide the size you want for 16
    */
    --fs-small: 0.75rem;  /* 12px */
    --fs-regular: 1.0rem; /* 16px */
    --fs-large: 2.5rem;	  /* 40px */

    /* Font family */
    --ff-base: Roboto, sans-serif;

    /* Font weight */
    --fw-regular: 400;
    --fw-bold: 700;
}


/* CSS reset */

*, *::after, *::before {
    box-sizing: border-box;
}

img, picture {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, figure, blockquote, dl, dd {
    margin: 0;
}

ul[role="list"], ol[role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Some elements dont get the font family from body */
input, button {
    font: inherit;
}

/* Custom styles */

body {
    font-family: var(--ff-base);
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-80);
    line-height: 1.5;
}

.newsletter-cta > .content {
    padding: 2rem 1.4rem;
    display: grid;
    gap: 1.4rem;
}

.newsletter-cta > .content > * {
    margin: 0;
}

.newsletter-cta .title {
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
}

.checkmark-list {
    display: grid;
    gap: 0.7rem;
}

.checkmark-list li {
    display: grid;
    grid-template-columns: 2.5rem auto;
}

.checkmark-list li::before {
    content: url("./assets/images/icon-list.svg");
}

.newsletter-cta form {
    --border-radius: 0.5rem;
}

.newsletter-cta .form-group {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 1.4rem;
}

.newsletter-cta label {
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
    display: block;
}

.newsletter-cta input {
    padding: 1.0em 1.4em;
    border-radius: var(--border-radius);
    border: 1px solid var(--clr-neutral-30);
    font-size: var(--fs-regular);
}

.newsletter-cta input::placeholder {
    color: var(--clr-neutral-40);
}

.newsletter-cta .button {
    border: 0;
    border-radius: var(--border-radius);
    color: var(--clr-neutral-10);
    background-color: var(--clr-neutral-80);
    font-size: var(--fs-regular);
    font-weight: var(--fw-bold);
    width: 100%;
    padding: 1.0em 0 0.75em;
}
