/* Containers */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Text */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: 600;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 400;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 400;
}

.text-sm {
    font-size: 0.75rem;
    line-height: 1.2;
    font-weight: 300;
}

.text-center {
    text-align: center;
}

/* Background */
.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-light {
    background-color: var(--light-color);
}

.bg-dark {
    background-color: var(--dark-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

/* Card */
.card {
    border-radius: 10px;
    padding: 1.2em;
}
