@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --grey-10: #f6f6f6;
    --grey-50: #F0F0F0;
    --grey-100: #E0E0E0;
    --grey-200: #C2C2C2;
    --grey-300: #A3A3A3;
    --grey-400: #858585;
    --grey-500: #666666;
    --grey-600: #525252;
    --grey-700: #3D3D3D;
    --grey-800: #292929;
    --grey-900: #141414;
    --grey-950: #0A0A0A;


    --blue-50: #F2F3FA;
    --blue-100: #D4D8F0;
    --blue-200: #98A1DA;
    --blue-300: #5C6AC4;
    --blue-400: #374498;
    --blue-500: #21295C;
    --blue-600: #1A2149;
    --blue-700: #141836;
    --blue-800: #0D1024;
    --blue-900: #060811;
    --blue-950: #030308;


    --yellow-50: #FFFAF0;
    --yellow-100: #FFF6E0;
    --yellow-200: #FFECC2;
    --yellow-300: #FFE3A3;
    --yellow-400: #FFDA85;
    --yellow-500: #FFD166;
    --yellow-600: #FFBA1A;
    --yellow-700: #CC8F00;
    --yellow-800: #805A00;
    --yellow-900: #332400;
    --yellow-950: #0D0900;

    --fw-light:    300;
    --fw-regular:  400;
    --fw-semibold: 600;
    --fw-bold:     700;

    --fs-extra-small: 0.70rem;
    --fs-small:       0.85rem;
    --fs-default:     1rem;
    --fs-large:       1.15rem;
    --fs-extra-large: 1.3rem;

    --scene-padding: 1.5rem 2.5rem;
}

@media (max-width: 768px) {
    :root {
	/* All values are 90% of desktop font size */
	--fs-extra-small: 0.63rem;
	--fs-small:       0.765rem;
	--fs-default:     0.9rem;
	--fs-large:       1.035rem;
	--fs-extra-large: 1.17rem;

	--scene-padding: 1.0rem 1.7rem;
    }
}

@media (max-width: 500px) {
    :root {
	--scene-padding: 0.7rem 1.1rem;
    }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}

html, body, #root, .app, .layout {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    font-size: var(--fs-default);
    font-weight: var(--fw-regular);
}

/* LIGHT */
.app {
    --neutral-100: var(--grey-900);
    --neutral-200: var(--grey-800);
    --neutral-300: var(--grey-700);
    --neutral-400: var(--grey-600);
    --neutral-500: var(--grey-500);
    --neutral-600: var(--grey-400);
    --neutral-700: var(--grey-300);
    --neutral-800: var(--grey-200);
    --neutral-900: var(--grey-100);
    --neutral-950: var(--grey-50);

    --primary-100: var(--blue-900);
    --primary-200: var(--blue-800);
    --primary-300: var(--blue-700);
    --primary-400: var(--blue-600);
    --primary-500: var(--blue-500);
    --primary-600: var(--blue-400);
    --primary-700: var(--blue-300);
    --primary-800: var(--blue-200);
    --primary-900: var(--blue-100);

    --secondary-100: var(--yellow-900);
    --secondary-200: var(--yellow-800);
    --secondary-300: var(--yellow-700);
    --secondary-400: var(--yellow-600);
    --secondary-500: var(--yellow-500);
    --secondary-600: var(--yellow-400);
    --secondary-700: var(--yellow-300);
    --secondary-800: var(--yellow-200);
    --secondary-900: var(--yellow-100);

    --bg-default: var(--neutral-800);
    --bg-alt: var(--neutral-900);
    --bg-active: var(--neutral-700);
    --bg-hover: #0003;

    --text-color: var(--primary-400);
    --text-active: var(--neutral-100);
    --text-alt: var(--neutral-400);

    background-color: var(--bg-default);
    color: var(--text-color);
}

/* DARK */
.app.dark {
    --neutral-100: var(--grey-100);
    --neutral-200: var(--grey-200);
    --neutral-300: var(--grey-300);
    --neutral-400: var(--grey-400);
    --neutral-500: var(--grey-500);
    --neutral-600: var(--grey-600);
    --neutral-700: var(--grey-700);
    --neutral-800: var(--grey-800);
    --neutral-900: var(--grey-900);

    --primary-100: var(--blue-100);
    --primary-200: var(--blue-200);
    --primary-300: var(--blue-300);
    --primary-400: var(--blue-400);
    --primary-500: var(--blue-500);
    --primary-600: var(--blue-600);
    --primary-700: var(--blue-700);
    --primary-800: var(--blue-800);
    --primary-900: var(--blue-900);

    --secondary-100: var(--yellow-100);
    --secondary-200: var(--yellow-200);
    --secondary-300: var(--yellow-300);
    --secondary-400: var(--yellow-400);
    --secondary-500: var(--yellow-500);
    --secondary-600: var(--yellow-600);
    --secondary-700: var(--yellow-700);
    --secondary-800: var(--yellow-800);
    --secondary-900: var(--yellow-900);

    --bg-default: var(--primary-600);
    --bg-alt: var(--primary-500);
    --bg-active: var(--secondary-300);
    --bg-hover: #fefefe12;

    --text-color: var(--secondary-100);
    --text-active: var(--primary-500);
    --text-alt: var(--secondary-300);

    background-color: var(--bg-default);
    color: var(--text-color);
}

/* General rules */

.icon-button {
    border: 0;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Default table   */

.table-container {
    overflow-x: auto;
    width: fit-content;
}

.table {
    background-color: var(--bg-alt);
    border-collapse: collapse;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.table.active {
    opacity: 1;
}

.table thead {
    text-align: left;
    border-bottom: 2px solid var(--neutral-200);
}

.table th, .table td {
    padding: 0.7em 0.7em;
    white-space: nowrap;
}

.table tr:nth-child(even) {
    background-color: var(--bg-hover);
}

.table-buttons {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.table-buttons button {
    width: 120px;
    font-size: var(--fs-regular);
    background-color: var(--bg-default);
    color: var(--neutral-200);
    border: 1px solid var(--neutral-200);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    padding: 0.3em 0;
}

.table-buttons svg {
    font-size: var(--fs-regular)
}

.table-buttons button:disabled {
    color: var(--neutral-500);
    background-color: var(--bg-default);
    border: 1px solid var(--neutral-500);
}

.table-toggle-list {
    list-style: none;
    display: flex;
    gap: 1.4em;
    margin-bottom: 1.3rem;
}

.table-toggle-list label {
    cursor: pointer;
}

.table-toggle-list input[type="checkbox"] {
    margin-right: 0.1em;
}

/* Forms */

.form-container {
    margin-bottom: 2rem;
}

.form-inline {
    display: flex;
    gap: 1em;
}

.form-inline .form-group {
    display: inline-block;
}

.form-inline label {
    display: inline-block;
    margin-right: 0.5em;
}

.form-inline input[type="text"] {
    padding: 0 1em;
    height: 2rem;
    font-size: var(--fs-regular);
}

.form-inline select {
    padding: 0 1.5em 0 1em;
    height: 2rem;
    font-size: var(--fs-regular);
}

.form-inline button {
    height: 2rem;
    padding: 0 2em;
    background-color: var(--primary-300);
    border: 0;
    color: white;
}

/* Layout */

.layout {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
	"sidebar header"
	"sidebar main";
}

.layout__header {
    grid-area: header;
}

.layout__sidebar {
    grid-area: sidebar;
}

.layout__main {
    grid-area: main;
    overflow-x: auto;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.navbar svg {
    font-size: var(--fs-extra-large);
}

.navbar__search {
    display: flex;
    gap: 0.1rem;
    border-radius: 9px;
    background-color: var(--bg-alt);
    padding: 0.1rem 1.5rem;
}

.navbar__search input {
    background-color: transparent;
    border: 0;
    color: var(--text-color);
    padding: 0.5em 1em;
    font-weight: var(--fw-regular);
    width: clamp(160px, 40vw, 280px);
}

.navbar__right {
    display: flex;
    gap: 1em;
}

/* Sidebar */

.sidebar {
    background-color: var(--bg-alt);
    min-width: 220px;
    display: flex;
    flex-direction: column;
    font-size: var(--fs-default);
    font-weight: var(--fw-regular);
}

.sidebar__logo {
    color: var(--test-color);
    font-size: var(--fs-extra-large);
    font-weight: var(--fw-bold);
    text-align: center;
    padding-block: 1em;
}

ul.sidebar__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-bottom: 2rem;
}

ul.sidebar__menu li {
    padding: 0em 1em;
}

ul.sidebar__menu li.active {
    background-color: var(--bg-active);
    color: var(--text-active);
    opacity: 0.87;
}

.sidebar__menu-header {
    margin-top: 0.5em;
    margin-bottom: 1.3em;
    position: relative;
}

.sidebar__menu-header::after {
    content: "";
    inset: calc(100% + 0.9em) 0 0 0;
    position: absolute;
    background-color: var(--text-color);
    opacity: 0.8;
    height: 1px;
    width: 100%;
}

.sidebar__header button {
    display: none;
}

.sidebar__menu-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7em;
    padding-left: 1.8em;
    padding-block: 0.6em;
    cursor: pointer;
}

.sidebar__menu-link:is(:hover, :focus) {
    background-color: var(--bg-hover);
}

/* Don't hover on the active item */
.sidebar__menu-li.active .sidebar__menu-link:is(:hover, :focus) {
    background-color: transparent;
}

.sidebar__menu-li:first-child .sidebar__menu-link {
    padding-left: 0;
}

.sidebar__menu span {
    flex: 1;
}

.sidebar__menu-li svg {
    font-size: var(--fs-large);
}

.sidebar__menu-li svg:last-child {
    color: transparent;
}

.sidebar__menu-li.active svg:last-child {
    color: var(--text-active);
}

.sidebar__footer {
    border-top: 2px solid var(--neutral-500);
    padding: 2em 0em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar__profile-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--neutral-800);
}

.sidebar__user-name {
    font-weight: var(--fw-bold);
    margin-block-end: 0.4em;
}

.sidebar__user-occupation {}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
    .sidebar {
	position: fixed;
	border-right: 1px solid var(--secondary-200);
	border-bottom: 1px solid var(--secondary-200);
    }

    .sidebar__header {
	display: flex;
	justify-content: space-evenly;
    }

    .sidebar__menu span {
    }

    .sidebar__logo {
    }

    .sidebar__header button {
	display: block;
    }

    .sidebar__footer {
    }
}

/* Products Scene */

.product-scene__container {
    /* padding: 1.5rem 2.5rem; */
    padding: var(--scene-padding);
}

.product-scene__products-container {
    max-width: 1400px;
    margin-inline: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

@media(max-width: 1280px) {
    .product-scene__products-container {
	grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 680px) {
    .product-scene__products-container {
	grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .product-scene__products-container {
	grid-template-columns: 1fr;
    }
}

/* Product */

.product__card {
    color: var(--neutral-200);
    font-size: var(--fs-small);
}

.product__card-container {
    padding: 2em;
    max-width: 24rem;
    background-color: var(--bg-alt);
}

.product__card-container > *:not(:first-child) {
    margin-top: 0.8em;
}

.product__category {
    color: var(--neutral-300);
    font-size: var(--fs-small);
}

.product__name {
    font-size: var(--fs-large);
}

.product__price {
    color: var(--secondary-300);
}

.product__description {
    font-size: var(--fs-small);
    margin-bottom: 0.3em;
}

.product__button {
    background-color: var(--bg-default);
    padding: 0.5em 1.6em;
    color: var(--neutral-200);
    border: 0;
    border-radius: 8px;
}

.product__id {
    margin-top: 1rem;
}
