/* Primary Colors */
/* - Red: hsl(0, 78%, 62%) */
/* - Cyan: hsl(180, 62%, 55%) */
/* - Orange: hsl(34, 97%, 64%) */
/* - Blue: hsl(212, 86%, 64%) */

/* Neutral Colors */
/* - Very Dark Blue: hsl(234, 12%, 34%) */
/* - Grayish Blue: hsl(229, 6%, 66%) */
/* - Very Light Gray: hsl(0, 0%, 98%) */

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

:root {
    --ff-sans: "Poppins", sans-serif;
    
    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 600;

    /* 400 is the regular and 900 the biggest */
    --fs-400: 0.9275rem; /* 15 / 16 to get 15px in rem */
    --fs-500: 1.25rem;
    --fs-900: 2.5rem;

    /* Primary Colors */
    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);

    /* Neutral Colors */
    --clr-very-dark-blue: hsl(234, 12%, 34%);
    --clr-grayish-blue: hsl(229, 6%, 66%);
    --clr-light-gray: hsl(0, 0%, 98%);

    --clr-neutral-100: var(--clr-ligth-gray);
    --clr-neutral-400: var(--clr-grayish-blue);
    --clr-neutral-900: var(--clr-very-dark-blue);
}
