@font-face {
    font-family: "Hanken Grotesk";
    font-display: swap;
    font-weight: 100 900;
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}

:root {
    /*
    Colors will be defined twice because the first is the color name provided
    from the guide, with the same name it calls it.
    The second name here is the name to be used in the css file. Names that are
    easy to use and do not have to keep checking back and forth for strange color
    names.
     */

    /* Primary colors */
    --clr-light-red: 0, 100%, 67%;
    --clr-orangey-yellow: 39, 100%, 56%;
    --clr-green-teal: 166, 100%, 37%;
    --clr-cobalt-blue: 234, 85%, 45%;

    --clr-primary-red: hsl(var(--clr-light-red));
    --clr-primary-yellow: hsl(var(--clr-orangey-yellow));
    --clr-primary-green: hsl(var(--clr-green-teal));
    --clr-primary-blue: hsl(var(--clr-cobalt-blue));

    /* Custom Primary */
    --clr-primary-light-red:hsla(0, 100%, 89%, 0.3);
    --clr-primary-light-yellow: hsla(39, 100%, 85%, 0.4);
    --clr-primary-light-green: hsla(166, 100%, 65%, 0.3);
    --clr-primary-light-blue: hsla(234, 100%, 75%, 0.3);

    --clr-primary-fixed-red: hsl(0, 100%, 42%);
    --clr-primary-fixed-yellow: hsl(39, 100%, 28%);
    --clr-primary-fixed-green: hsl(166, 100%, 22%);
    --clr-primary-fixed-blue: hsl(234, 85%, 58%);

    /* Gradient colors (background) */
    --clr-light-slate: hsl(252, 100%, 67%);
    --clr-light-royal-blue: hsl(241, 81%, 54%);

    --gradient-main: linear-gradient(var(--clr-light-slate), var(--clr-light-royal-blue));

    /* Gradient colors (circle) */
    --clr-violet-blue: hsla(256, 72%, 46%, 1);
    --clr-persian-blue: hsla(241, 72%, 46%, 0);

    --gradient-dark: linear-gradient(var(--clr-violet-blue), var(--clr-persian-blue));

    /* Neutral colors */
    --clr-white: 0, 0%, 100%;
    --clr-pale-blue: 221, 100%, 96%;
    --clr-light-lavender: 241, 100%, 89%;
    --clr-dark-gray-blue: 224, 30%, 27%;

    /* Custom Neutral */
    --clr-lighter-cream: 42, 100%, 97%;

    --clr-neutral-0: hsl(var(--clr-white));
    --clr-neutral-10: hsla(var(--clr-pale-blue), 0.8);
    --clr-neutral-15: hsla(var(--clr-pale-blue), 0.65);
    --clr-neutral-20: hsla(var(--clr-lighter-cream));
    --clr-neutral-40: hsl(var(--clr-light-lavender));
    --clr-neutral-80: hsl(var(--clr-dark-gray-blue));

    --clr-box-shadow: hsla(var(--clr-dark-gray-blue), 0.25);

    /* Font sizes (should always be in rem, never in px to avoid problems.
    The base is 16px -> x / 16 == rem value) */
    --fs-regular: 1.125rem; /* 18px */

    --fs-30: 0.8125rem;	/* 13px */
    --fs-40: 1rem;	/* 16px */
    --fs-50: 1.125rem;	/* 18px */
    --fs-60: 1.5rem;	/* 24px */
    --fs-70: 1.75rem;	/* 28px */
    --fs-80: 2rem;	/* 32px */
    --fs-90: 2.25rem;	/* 36px */
    --fs-95: 3.75rem;	/* 60px */

    /* Font weights */
    --fw-regular: 500;
    --fw-bold: 700;
    --fw-bolder: 800;

    /* Font families */
    --ff-sans-serif: "Hanken Grotesk", sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-size: inherit;
}

img, svg {
    display: block;
    max-width: 100%;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--clr-neutral-10);
    font-family: var(--ff-sans-serif);
    font-size: var(--fs-regular);
    color: var(--clr-neutral-80);
}

.section-title {
    font-size: var(--fs-60);
    font-weight: var(--fw-bold);
}

.result-summary {
    --border-radius: 2rem;
    max-width: 480px;
    margin: 0 auto;
}

.result {
    text-align: center;
    background: var(--gradient-main);
    color: var(--clr-neutral-10);
    padding: 2.625rem 3.75rem;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.result__score {
    color: var(--clr-neutral-15);
    font-weight: var(--fw-bold);
    background: var(--gradient-dark);
    width: 200px;
    height: 200px;
    margin-inline: auto;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    display: grid;
    place-content: center;
}

.result__score span {
    font-size: var(--fs-95);
    font-weight: var(--fw-bolder);
    color: var(--clr-neutral-0);
    display: block;
    line-height: 1;
}

.result__rank {
    color: var(--clr-neutral-0);
    font-size: var(--fs-80);
    font-weight: var(--fw-bold);
    line-height: 0.8;
}

.summary {
    padding: 2.625rem;
}

.summary-item {
    font-size: var(--fs-50);
    font-weight: var(--fw-regular);
    color: hsla(var(--clr-dark-gray-blue), 0.7);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: hsla(var(--clr-lighter-cream), 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
}

.summary-item h3 {
    font-weight: var(--fw-regular);
}

.summary-item b {
    color: var(--clr-neutral-80);
}

.summary-item[data-item-type="accent-1"] .flex-group {
    stroke: var(--clr-primary-fixed-red);
    color: var(--clr-primary-fixed-red);
}

.summary-item[data-item-type="accent-2"] .flex-group {
    stroke: var(--clr-primary-fixed-yellow);
    color: var(--clr-primary-fixed-yellow);
}

.summary-item[data-item-type="accent-3"] .flex-group {
    stroke: var(--clr-primary-fixed-green);
    color: var(--clr-primary-fixed-green);
}

.summary-item[data-item-type="accent-4"] .flex-group {
    stroke: var(--clr-primary-fixed-blue);
    color: var(--clr-primary-fixed-blue);
}

.summary-item[data-item-type="accent-1"] {
    background-color: var(--clr-primary-light-red);
}

.summary-item[data-item-type="accent-2"] {
    background-color: var(--clr-primary-light-yellow);
}

.summary-item[data-item-type="accent-3"] {
    background-color: var(--clr-primary-light-green);
}

.summary-item[data-item-type="accent-4"] {
    background-color: var(--clr-primary-light-blue);
}

.button {
    color: var(--clr-neutral-0);
    background: var(--clr-neutral-80);
    width: 100%;
    padding: 1rem 2rem;
    border: 0;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.button:focus, .button:hover {
    background: var(--gradient-main);
}

/* Utility classes */

.grid-flow {
    display: grid;
    align-content: start;
    gap: 1.5rem;
}

.grid-flow[data-spacing="small"] {
    gap: 1.0rem;
}

.grid-flow[data-spacing="large"] {
    gap: 2.5rem;
}

.flex-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

/* Media queries */

@media (min-width: 740px) {
    body {
        display: grid;
        place-items: center;
    }

    .result-summary {
        margin-inline: 1rem;
        max-width: 740px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: var(--border-radius);
        box-shadow: 0.75rem 1rem 3rem var(--clr-box-shadow);
    }

    .result {
        border-radius: var(--border-radius);
    }
}
